
.container{
    width: 1150px;
    height: 100vh;
    background:linear-gradient(132deg, rgba(94, 226, 243, 0.6),rgba(121, 94, 243, 0.6));
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    left: 160px;
    top: 120px;
}

.container h3{
    width: 220px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    color: #fff;
    font-size: 32px;
    /*background-color: rgba(100, 235, 217, 0.438);*/
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.container h1{
    width: 220px;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 1px;
    position: absolute;
    color: white;
    font-size: 45px
}

.container span{
    color: white;
    font-size: 45px
}

.category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }

.box{
    width: 580px;
    height: 430px;
    background:#fff;
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    top: 120px;
    
}
.box1{
    width: 250px;
    height: 380px;
    background:#fff;
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    
}

.box1 a{
    /*display: block;
    font-family: sans-serif;
    margin: 1.5rem 0;
    pad: .7rem;
    border-radius: 5rem;
    font-size: 24px;
    color: black;*/

    margin: 1.5rem 0;
    pad: .7rem;
    border-radius: 5rem;
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.4px;
    transition: 0.4s ease-in-out;
    border: 1px solid #00f7ffd8;
    text-align: center;
}
.text-center{
    position: relative;
    left:200px;
    bottom:100px;
}

.box1 a:hover{
    color: #00ccff;
}
.lname{
    color: #21c51c;
    /*width: 220px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: blue;
    font-size: 5px;
    background-color: rgba(100, 235, 217, 0.438);*/
    border-radius: 10px;
    margin: 2px;
    font-family: bold;
    margin-left: 10px;
}

.box2{
    width: 250px;
    height: 380px;
    background:#fff;
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    left: 300px;
    
}

.box2 a{
    margin: 1.5rem 0;
    pad: .7rem;
    border-radius: 5rem;
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.4px;
    transition: 0.4s ease-in-out;
    border: 1px solid #00f7ffd8;
    text-align: center;
}

.box2 a:hover{
    color: #00ccff;
}

.language_points{
    width: 500px;
    height: 400px;
    background:rgb(20, 20, 20);
    position: relative;
    border-radius: 10px;
    padding: 25px;
    top: 120px;
}

.btnn2{
    position: relative;
    width: 240px;
    height: 40px;
    background: #00ccff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
    top: 360px;
    left: 180px;
}

.btnn2:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #00ccff;
}
.btnn2 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}